svg {
  font: 10px sans-serif;
}

.group{

}


.group_row {

}

.label {
	text-align: center;


}

.unit rect {
	stroke: #777;
	stroke-width: 1.5px;
	fill: steelblue;
}

.unit rect:hover{
	fill: brown;
}
