svg {
  font: 10px sans-serif;
}

.group{

}


.group_row {

}

.label {
	text-align: center;
	text-anchor: middle;
	font-size: 1.5em;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.unit rect {
	stroke: #c7c7c7;
	stroke-width: 2;
	fill-opacity: 0.8;
}

.unit rect:hover{
	fill-opacity: 1;
	stroke:  #7f7f7f;
}

.node {
	fill: #636363;
}

.path {
	stroke: #636363;
	stroke-width: 4;
	fill: none;
}